.reveal section .caption {
	font-style: italic;
	font-size: 50%;
	color: #999;
}

.reveal section .examp {
	font-size: 70%;
}

.reveal section table.shtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	border-collapse: collapse;
	width: 100%;
}
 .reveal section table.shtable th {
	border-width: 1px;
	padding: 8px;
	background-color: #dedede;
	height: 70;
}
.reveal section table.shtable td {
	padding: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dedede;
}
.reveal section table.shtable tbody tr {
	background-color: #ffffff;
	cursor: pointer;
}
.reveal section table.shtable tr:hover {
	background-color: #ffb;
}
.reveal section table.shtable tr td input {
	display: none;
}

.reveal section code {
	font-size: 23px;
}